<header class = "header header-6">

	<div class="branding">
    <a href=./>
    <%= image_tag "", :height => "48px", :style => "padding-right: 30px;padding-top: 10px" %>
    <span class="title">Eh?PI</span>
  </a>
  </div> <!-- end branding -->

<div class="header-nav">
	<%= link_to 'Home', root_path, :class =>"nav-link nav-text" %>
  <%= link_to 'Turbonomic', '/turbonomic/index', :class =>"nav-link nav-text" %>
  <%= link_to 'VMware', '/vmware/index', :class =>"nav-link nav-text" %>
</div>

</header>