<h1>Podcast Example</h1>

<% @podcast_titles.each do |podcast_title| %>
<div class="clr-row">
    <div class="clr-col-lg-3 clr-col-8">
        <div class="card">
            <div class="card-header">
                <%= podcast_title %>
            </div>
            <div class="card-block">
                <div class="card-media-block">
                	<clr-icon shape="vm"></clr-icon>
                    
                    <div class="card-media-description">
                        <span class="card-media-title">
                            BLAH
                        </span>
                        <span class="card-media-text">
                            <clr-icon shape="cpu"></clr-icon> BLAH<br />
                            <clr-icon shape="memory"></clr-icon> Blah
                        </span>
                    </div>
                </div>
                <div class="card-text">
                    Blah
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Do a thing</button>
            </div>
        </div>
    </div>
</div>
 <% end %>